[Unit]
Description=One-Wire Temperature Exporter
After=multi-user.target

[Service]
Type=simple
Restart=always
ExecStart=/usr/bin/python3 /etc/onewire_exporter/main.py

[Install]
WantedBy=multi-user.target